@font-face {
    font-family: 'Freestyle Script';
    src: url('FreestyleScript-Regular.eot');
    src: url('FreestyleScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('FreestyleScript-Regular.woff2') format('woff2'),
        url('FreestyleScript-Regular.woff') format('woff'),
        url('FreestyleScript-Regular.ttf') format('truetype'),
        url('FreestyleScript-Regular.svg#FreestyleScript-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe Print';
    src: url('SegoePrint.eot');
    src: url('SegoePrint.eot?#iefix') format('embedded-opentype'),
        url('SegoePrint.woff2') format('woff2'),
        url('SegoePrint.woff') format('woff'),
        url('SegoePrint.ttf') format('truetype'),
        url('SegoePrint.svg#SegoePrint') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe Script';
    src: url('SegoeScript.eot');
    src: url('SegoeScript.eot?#iefix') format('embedded-opentype'),
        url('SegoeScript.woff2') format('woff2'),
        url('SegoeScript.woff') format('woff'),
        url('SegoeScript.ttf') format('truetype'),
        url('SegoeScript.svg#SegoeScript') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tahoma';
    src: url('Tahoma.eot');
    src: url('Tahoma.eot?#iefix') format('embedded-opentype'),
        url('Tahoma.woff2') format('woff2'),
        url('Tahoma.woff') format('woff'),
        url('Tahoma.ttf') format('truetype'),
        url('Tahoma.svg#Tahoma') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('TimesNewRomanPSMT.eot');
    src: url('TimesNewRomanPSMT.eot?#iefix') format('embedded-opentype'),
        url('TimesNewRomanPSMT.woff2') format('woff2'),
        url('TimesNewRomanPSMT.woff') format('woff'),
        url('TimesNewRomanPSMT.ttf') format('truetype'),
        url('TimesNewRomanPSMT.svg#TimesNewRomanPSMT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

